<template>

    <div class="py-12">
        <div class="px-6 py-8 bg-gray-300 rounded-md max-w-7xl mx-auto sm:px-6 lg:px-8">
            <div class="overflow-hidden shadow-md sm:rounded-lg border border-gray-200">
                <router-view class=""/>
            </div>
        </div>
    </div>

</template>

<script>

</script>
