<template>

    <div class="bg-white">

        <h3 class="font-bold text-2xl mb-4 text-white bg-green-400 p-3">Editar Cita</h3>

        <form class="space-y-6" @submit.prevent="saveAppointment">
        <div class="p-4 space-y-4 rounded-md shadow-sm">

            <div v-if="errors">
                <h2 class="text-red-500 font-bold text-lg pb-2">Oops! Hay algunos errores en el formulario:</h2>
                <div v-for="(v, k) in errors" :key="k" class="bg-red-500 text-white rounded-md font-bold mb-2 shadow-lg py-2 px-4 pr-0">
                    <p v-for="error in v" :key="error" class="text-sm">
                        {{ error }}
                    </p>
                </div>
            </div>

            <div v-if="status">
                <div class="bg-red-500 text-white rounded-md font-bold mb-2 shadow-lg py-2 px-4 pr-0">
                    <p class="text-sm">
                        {{ status }}
                    </p>
                </div>
            </div>

            <input v-model="appointment.user_id" type="hidden" name="user_id" id="user_id" />

            <div class="grid grid-cols-2 gap-3">
                <div>
                    <label for="date_start" class="block text-sm font-medium text-gray-700">Fecha y Hora</label>
                    <div class="mt-1">
                        <Datepicker v-model="appointment.date_start" id="date_start" name="date_start"
                                    locale="es" cancelText="Cancelar" selectText="Seleccionar"
                                    :format="format"
                                    type="timestamp" modelType="yyyy-MM-dd H:mm"
                                    :minDate="new Date()" :filters="filters"
                                    :minTime="{ hours: 8, minutes: 0 }"
                                    :maxTime="{ hours: 20, minutes: 0 }"
                                    minutesGridIncrement="0"  noMinutesOverlay
                        ></Datepicker>
                    </div>
                </div>

                <div>
                    <label for="address" class="block text-sm font-medium text-gray-700">Domicilio</label>
                    <div class="mt-1">
                        <input type="text" name="address" id="address"
                               class="block mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                               v-model="appointment.address">
                    </div>
                </div>
            </div>

            <div>
                <label for="description" class="block text-sm font-medium text-gray-700">Descripcion</label>
                <div class="mt-1">
                    <input type="text" name="description" id="description"
                           class="block mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                           v-model="appointment.description">
                </div>
            </div>

        </div>

        <div class="p-4 flex items-center place-content-end">
            <button type="submit"
                    class="font-bold inline-flex items-center px-4 py-2 text-xs font-semibold tracking-widest text-white uppercase
                       bg-gray-800 rounded-md border border-transparent ring-gray-300 transition duration-150 ease-in-out
                       hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring disabled:opacity-25">
                Actualizar cita
            </button>
        </div>

    </form>
    </div>

</template>

<script>

import useAppointments from "../../composables/appointments";
import { onMounted } from 'vue';

export default {

    props: {
        id: {
            required: true,
            type: String
        }
    },

    setup(props){

       const { appointment, getAppointment, errors, status, updateAppointment ,can} = useAppointments()

       onMounted(getAppointment(props.id))

       const saveAppointment = async () =>{
           await updateAppointment(props.id)
       }

       return {
           appointment,
           errors,
           status,
           saveAppointment,
           can
       }
   }
}
</script>

<style scoped>

</style>
