<template>

    <div class="overflow-hidden overflow-x-auto min-w-full align-middle sm:rounded-md">

        <div v-if="can('crear-citas')" class="flex items-center place-content-end mb-4">
            <div class="m-2 px-4 py-2 rounded-md text-white bg-blue-600 hover:bg-blue-700 cursor-pointer">
                <router-link :to="{ name: 'appointments.create' }" class="text-sm font-bold">Nueva cita</router-link>
            </div>
        </div>

        <table class="min-w-full border divide-y divide-gray-200">
            <thead>
            <tr>
                <th class="px-6 py-3 bg-gray-50">
                    <span
                        class="text-xs font-bold tracking-wider leading-4 text-left text-gray-500 uppercase">
                        Fecha / Hora
                    </span>
                </th>
                <th class="px-6 py-3 bg-gray-50">
                    <span
                        class="text-xs font-bold tracking-wider leading-4 text-left text-gray-500 uppercase">
                        Usuario
                    </span>
                </th>
                <th class="px-6 py-3 bg-gray-50">
                    <span
                        class="text-xs font-bold tracking-wider leading-4 text-left text-gray-500 uppercase">
                        Domicilio
                    </span>
                </th>
                <th class="px-6 py-3 bg-gray-50">
                    <span
                        class="text-xs font-bold tracking-wider leading-4 text-left text-gray-500 uppercase">
                        Descripción
                    </span>
                </th>
                <th class="px-6 py-3 bg-gray-50">
                    <span
                        class="text-xs font-bold tracking-wider leading-4 text-left text-gray-500 uppercase">
                        Estado
                    </span>
                </th>
                <th class="px-6 py-3 bg-gray-50">
                    <span
                        class="text-xs font-bold tracking-wider leading-4 text-left text-gray-500 uppercase">
                        Opciones
                    </span>
                </th>
            </tr>
            </thead>

            <tbody class="bg-white divide-y divide-gray-200 divide-solid">
            <template v-for="item in appointments" :key="item.id">
                <tr class="bg-white">
                    <td class="px-6 py-4 text-sm leading-5 text-gray-900 whitespace-no-wrap">
                        {{ item.date_start }}
                    </td>
                    <td class="px-6 py-4 text-sm leading-5 text-gray-900 whitespace-no-wrap">
                        {{ item.usuario }}
                    </td>
                    <td class="px-6 py-4 text-sm leading-5 text-gray-900 whitespace-no-wrap">
                        {{ item.address }}
                    </td>
                    <td class="px-6 py-4 text-sm leading-5 text-gray-900 whitespace-no-wrap">
                        {{ item.description }}
                    </td>
                    <td class="px-6 py-4 text-sm leading-5 text-gray-900 whitespace-no-wrap">

                        <p v-if="item.state=='pending'" class="bg-gray-200 px-2 py-1 rounded-md text-center font-bold text-gray-600">Pendiente</p>
                        <p v-if="item.state=='approved'" class="bg-green-200 px-2 py-1 rounded-md text-center font-bold text-green-600">Aprobada</p>
                        <p v-if="item.state=='cancelled'" class="bg-red-200 px-2 py-1 rounded-md text-center font-bold text-red-600">Cancelada</p>

                    </td>
                    <td class="px-6 py-4 text-sm leading-5 text-gray-900 whitespace-no-wrap flex items-center justify-center">

                        <button v-if="can('eliminar-citas')" @click="deleteAppointment(item.id)"
                                class="inline-flex items-center px-4 py-1 bg-red-500 border border-transparent rounded-md
                                       font-semibold text-xs text-white uppercase tracking-widest
                                       hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900
                                       focus:ring ring-gray-300 disabled:opacity-25 transition ease-in-out duration-150">
                            Eliminar</button>
                    </td>
                </tr>
            </template>
            </tbody>
        </table>
    </div>

</template>

<script>


import useAppointments from "../../composables/appointments";
import { onMounted } from 'vue';

export default {
    setup(){

        const { appointments, getAppointments , destroyAppointment, can} = useAppointments()

        onMounted(getAppointments)

        const deleteAppointment = async (id) =>{

            Swal.fire({
                title: '¿Desea eliminar la cita ?',
                showCancelButton: true,
                confirmButtonText: 'Eliminar',
            }).then( async (result)  =>  {

                if (result.isConfirmed ) {

                    await destroyAppointment(id)
                    await getAppointments()
                    Swal.fire('Eliminado!', '', 'success')

                } else if (result.isDenied) {
                    Swal.fire('Cancelando operación', '', 'info')
                    return false;
                }

            })

        }

        return {
            appointments,
            deleteAppointment,
            can
        }
    }
}

</script>
