<template class="">

    <div class="bg-white">
        <h3 class="font-bold text-2xl mb-4 text-gray-700 bg-green-400 p-3">Registro de nueva cita</h3>

        <form class="space-y-6" @submit.prevent="saveAppointment">

            <div class="p-4 space-y-4 rounded-md shadow-sm">

                <div v-if="errors">
                    <h2 class="text-red-500 font-bold text-lg pb-2">Oops! Hay algunos errores en el formulario:</h2>
                    <div v-for="(v, k) in errors" :key="k" class="bg-red-500 text-white rounded-md font-bold mb-2 shadow-lg py-2 px-4 pr-0">
                        <p v-for="error in v" :key="error" class="text-sm">
                            {{ error }}
                        </p>
                    </div>
                </div>

                <div v-if="status">
                    <div class="bg-red-500 text-white rounded-md font-bold mb-2 shadow-lg py-2 px-4 pr-0">
                        <p class="text-sm">
                            {{ status }}
                        </p>
                    </div>
                </div>

                <input type="hidden" v-model="form.user_id"  id="user_id" name="user_id"/>

                <div class="grid grid-cols-2 gap-3">
                    <div>
                        <label for="date_start" class="block text-sm font-medium text-gray-700">Fecha y Hora</label>
                        <div class="mt-1">
                            <Datepicker v-model="form.date_start" id="date_start" name="date_start"
                                        locale="es" cancelText="Cancelar" selectText="Seleccionar"
                                        :format="format"
                                        type="timestamp" modelType="yyyy-MM-dd H:mm"
                                        :minDate="new Date()" :filters="filters"
                                        :minTime="{ hours: 8, minutes: 0 }"
                                        :maxTime="{ hours: 20, minutes: 0 }"
                                        minutesGridIncrement="0"  noMinutesOverlay
                            ></Datepicker>
                        </div>
                    </div>

                    <div>
                        <label for="address" class="block text-sm font-medium text-gray-700">Domicilio</label>
                        <div class="mt-1">
                            <input type="text" name="address" id="address"
                                   class="block mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                                   v-model="form.address">
                        </div>
                    </div>
                </div>


                <div>
                    <label for="description" class="block text-sm font-medium text-gray-700">Descripcion</label>
                    <div class="mt-1">
                        <input type="text" name="description" id="description"
                               class="block mt-1 w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50"
                               v-model="form.description">
                    </div>
                </div>

            </div>

            <div class="p-4 flex items-center place-content-end">
                <button type="submit"
                        class="font-bold inline-flex items-center px-4 py-2 text-xs font-semibold tracking-widest text-white uppercase
                       bg-gray-800 rounded-md border border-transparent ring-gray-300 transition duration-150 ease-in-out
                       hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring disabled:opacity-25">
                    Solicitar cita
                </button>
            </div>
        </form>
    </div>

</template>

<script>

import { reactive, computed, onMounted } from "vue";

import useAppointments from "../../composables/appointments";

import Datepicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css'


export default {

    components: { Datepicker },

    setup(){

        onMounted(function (){

            console.log(window.User);
            console.log(window.Laravel.jsPermissions)

        })


        // For demo purposes, disable the next 3 months from the current month
        const filters = computed(() => {
            return {
                times: {
                    hours: [1,2,3,4,5,6,7,21,22,23] // disable specific hours
                }
            }
        })

        // In case of a range picker, you'll receive [Date, Date]
        const format = (date) => {
            const day   = date.getDate();
            const month = date.getMonth() + 1;
            const year = date.getFullYear();
            const hour = date.getHours();
            const min  = date.getMinutes();

            return `${day}/${month}/${year} ${hour}:${min}`;
        }

        let form = reactive({
           'user_id': window.User.id,
           'date_start': '',
           'address': '',
           'description': '',
        })

        const { errors, status, storeAppointment, can } = useAppointments()

        const saveAppointment = async () =>{
            // alert(JSON.stringify(form.date_start))
          await storeAppointment({...form})

        }

       return {
           form,
           format,
           filters,
           errors,
           status,
           saveAppointment,
           can
       }
   }
}
</script>

<style scoped>

</style>
