<template>
    <div class="bg-white container shadow">

        <h3 class="text-3xl text-blue-600 pt-3 mb-3 text-center uppercase font-bold">
            Calendario de citas con la Muerte
        </h3>

        <div class="flex justify-between bg-gray-200">

            <button @click="toggleWeekends"
                    class="m-2 px-4 py-2 rounded-md text-white bg-gray-600 hover:bg-blue-700 cursor-pointer"
            >Ver fin de semana</button>

            <div v-if="can('editar-citas')" class="m-2 px-4 py-2 rounded-md text-white bg-red-500 hover:bg-red-700 cursor-pointer">
                <router-link :to="{ name: 'admin-appointments.index' }" class="text-sm font-bold">Administrar citas</router-link>
            </div>

            <div class="m-2 px-4 py-2 rounded-md text-white bg-blue-600 hover:bg-blue-700 cursor-pointer">
                <router-link :to="{ name: 'appointments.create' }" class="text-sm font-bold">Solicitar cita</router-link>
            </div>

        </div>

        <FullCalendar :options="calendarOptions"  class="p-2"/>

    </div>
</template>

<script>

import axios from "axios";

import '@fullcalendar/core/vdom' // solves problem with Vite
import FullCalendar from '@fullcalendar/vue3'
import timeGridPlugin from '@fullcalendar/timegrid'
import interactionPlugin from '@fullcalendar/interaction'
import esLocale from '@fullcalendar/core/locales/es'



export default {
    components: {
        FullCalendar // make the <FullCalendar> tag available
    },
    data() {
        return {
            allevents: [],

            calendarOptions: {
                // timeZone: 'UTC',
                locale: esLocale, // the initial locale. of not specified, uses the first one
                plugins: [ timeGridPlugin, interactionPlugin ],
                initialView: 'timeGridWeek',
                firstDay: 1,
                dateClick: this.handleDateClick,
                allDaySlot: false,
                slotDuration: '1:00', // 1 hours
                businessHours:{
                    // days of week. an array of zero-based day of week integers (0=Sunday)
                    daysOfWeek: [ 1, 2, 3, 4, 5 ], // Monday - Friday
                    startTime: '8:00', // a start time
                    endTime:  '20:00',  // an end time
                },
                events: this.allevents,

                /** events: [
                    { title: 'event 1', date: '2022-07-22 08:00' },
                    { title: 'event 2', date: '2022-07-22 10:00' }
                ] **/
            }
        }
    },
    mounted() {
        this.getEvents()
    },
    methods: {

        getEvents() {
            axios.get('api/appointments')
                .then(response => {
                    this.calendarOptions.events = response.data.data.map(evt => ({title: evt.description, date: evt.date_start,   backgroundColor: '#019eff'}));
                });
        },
        handleDateClick: function(arg) {
            alert('date click! ' + arg.dateStr)
        },
        toggleWeekends: function() {
            this.calendarOptions.weekends = !this.calendarOptions.weekends // toggle the boolean!
        },
        can: function(permissionName) {
            let permissions = window.Laravel.jsPermissions.permissions
            return permissions.indexOf(permissionName) !== -1;
        }
    }
}
</script>
